## Boiler plate code

In [25]:
from pyspark.sql import SparkSession, Row

In [26]:
spark = SparkSession.builder.appName("friends_df").getOrCreate()

In [27]:
def mapper(line):
    fields = line.split(",")
    return Row(ID=int(fields[0]), name=str(fields[1].encode("utf-8")), \
                  age = int(fields[2]), num_friends = int(fields[3]))

### Creating RDD using spark.sparkContext

In [28]:
lines = spark.sparkContext.textFile("file:///var/lib/spark/jupyter/data/fakefriends.csv")

In [29]:
people = lines.map(mapper)

### Infer schema and register DataFrame as a table

In [30]:
people_df = spark.createDataFrame(people)

In [31]:
people_df.createOrReplaceTempView("people")

### write queries like normal table

In [35]:
teenagers = spark.sql("select * from people where age >=13 and age <=19").head(1)
teenagers

[Row(ID=21, age=19, name=u'Miles', num_friends=268)]

In [21]:
people_df.groupby("age").count().orderBy("count").show()

+---+-----+
|age|count|
+---+-----+
| 63|    4|
| 65|    5|
| 24|    5|
| 50|    5|
| 20|    5|
| 49|    6|
| 34|    6|
| 42|    6|
| 56|    6|
| 60|    7|
| 43|    7|
| 53|    7|
| 39|    7|
| 22|    7|
| 51|    7|
| 21|    8|
| 35|    8|
| 31|    8|
| 18|    8|
| 27|    8|
+---+-----+
only showing top 20 rows

In [22]:
spark.stop()